@charset "UTF-8";

@media print {
    img#print{
        display: block;
    }
    img#phone{
        display: none;
    }
    body{
        background-image: url(../imagens/back-print.jpg);
        background-color: white;
    }
    main{
        border: 1px solid black;
    }
    main h1{
        color: black;
    }
    html::after{
        content: 'Esse arquivo foi impresso no site felipehenrs.github.io';
    }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
    img#phone{
        display: none;
    }
    img#tablet{
        display: block;
    }
    
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
}
@media screen and (min-width: 1024px) and (max-width: 1440px){
    img#phone{
        display: none;
    }
    img#laptop{
        display: block;
    }
    body{
        background-image: url(../imagens/back-pc.jpg);
    }

}
@media screen and (min-width: 1440px){
    img#phone{
        display: none;
    }
    img#tv{
        display: block;
    }
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
}