@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
html, body{
    width: 100%;
    height: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}
header{
    background-color: gray;
    width: 100%;
}
header h1{
    text-align: center;
    padding-top: 10px;
}
span#burguer{
    background-color: rgb(43, 42, 42);
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5px;
    width: 40px;
    border-radius: 10px;
    margin: 5px;
}
span#burguer:hover{
    background-color: lightgray;
    color: black;
    cursor: pointer;
    
}
menu{
    background-color: rgb(87, 87, 87);
    display: none;
    
}
menu ul{
    list-style-type: none;
}
menu a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgb(112, 112, 112);
    padding: 10px;
}
menu a:hover{
    background-color: gray;
}
main article{
    background-color: white;
    width: 90vw;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
}
main h2{
    padding-bottom: 20px;
}
main p{
    margin-bottom: 10px;
    text-align: justify;
    text-indent: 20px;
}